body {
    overflow: hidden;
}
.body-question {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.body-question::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Black background with 50% opacity */
    /*z-index: 1; !* Ensures the content is above the background *!*/
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.header .left-content {
    display: flex;
    align-items: center;
}
.header .right-content {
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.header img {
    margin-left: 20px; /* Spacing between images */
    cursor: pointer; /* Change the cursor on hover over the image */
}
.right-content .replay {
    width: 3vw;
}
.right-content .score {
    width: 8vw;
}
.background-image-div {
    position: relative; /* Establishes a positioning context for inner elements */
    width: 6vw;
    height: 5vh;
    background-image: url('../../../img/main/score.png');
    background-size: 100% 100%;
    background-position: center;
}

.centered-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    color: #F565AF;
    font-size: 22px; /* Adjust font size as needed */
    text-align: center;
    /*font-weight: bold;*/
}
.right-content .support {
    width: 3vw;
    z-index: 10;
}
.header {
    height: 10vh;
    margin-left: 6vw;
    margin-top: 20px;
    margin-right: 20px;
}
.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.button-track {
    position: relative; /* Establishes a positioning context for inner elements */
    width: 13vw;
    height: 8vh;
}
.button-track > .button-track-label {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    color: #6BD7FF;
    font-size: 22px; /* Adjust font size as needed */
    text-align: center;
    z-index: 2;
    width: 10vw;
    font-weight: bold;
}

.question, .answer, .next {
    position: absolute;
    z-index: 20;
}
.answer, .next {
    cursor: pointer;
}

.next {
    width: 45vw;
    height: 6vh;
    top: 88vh;
    left: 29%;
}

#question {
    width: 70vw;
    height: 55vh;
    top: 5vh;
    left: 17vw;
}

#kickoff-button-frame {
    width: 16vw; /* Use viewport width for scalability */
    /*min-width: 300px; !* Ensure it doesn't get too small *!*/
    height: 8vh; /* Use viewport height for scalability */
    bottom: 26vh;
    left: 60vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer {
    width: 26vw;
}
#answer1 {
    left: 22vw;
    top: 58vh;
}
#answer2 {
    left: 56vw;
    top: 58vh;
}
#answer3 {
    left: 22vw;
    top: 71vh;
}
#answer4 {
    left: 56vw;
    top: 71vh;
}
.title {
    position: absolute;
    top: 11vh;
    font-size: 2rem;
    color: #FF5ED3;
    z-index: 2;
    left: 49vw;
}
.question-content {
    position: absolute;
    font-size: 20px;
    color: #35FF86;
    width: 42vw;
    max-height: 64%;
    top: 12vh;
    left: 14vw;
    overflow: auto;
    z-index: 21;
}
.answer-content {
    position: absolute;
    font-size: 20px;
    color: #35FF86;
    width: 90%;
    text-align: center;
    top: 3vh;
    left: 5%;
}

.two {
    top:  2vh;
}
    /*#answer1 > .answer-content {*/
/*    top:  2vh;*/
/*    left: 5%;*/
/*}*/
/*#answer2 > .answer-content {*/
/*    top: 2vh;*/
/*    left: 5%;*/
/*}*/
/*#answer3 > .answer-content {*/
/*    top: 2vh;*/
/*    left: 5%;*/
/*}*/
/*#answer4 > .answer-content {*/
/*    top: 2vh;*/
/*    left: 5%;*/
/*}*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Modal Content */
.modal-game-content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    margin: auto; /* Not strictly necessary with flexbox, but kept for fallback */
    padding: 20px;
    width: 80vw;
    /* Remove absolute positioning and use flexbox for centering */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: Adds a shadow for better aesthetics */
}

.modal-game-text {
    position: absolute;
    top: 13vh;
    left: 17vw;
    font-size: 22px;
    color: #35FF86;
    width: 46vw;
    height: 21vh;
    overflow: auto;
    word-wrap: break-word; /* Older property name, supported in IE */
    overflow-wrap: break-word; /* Standard property name */
    white-space: normal;
    z-index: 200;
}

#ducrut-content > .modal-game-text {
    top: 11vh;
    left: 10vw;
}

.correct > svg {
    background-color: rgba(69,251,255,0.3);
}

.fail > svg {
    background-color: rgba(255,49,49,0.3);
}

#button-full-screen {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
}

.background-full-question {
    position: absolute; /* Establishes a positioning context for inner elements */
    width: 11vw;
    height: 7vh;
    background-image: url('../../../img/main/score.png');
    background-size: 100% 100%;
    background-position: center;
    cursor: pointer;
    left: 50%;
    top: 76%;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    z-index: 10;
}

.background-full-question > .centered-text {
    font-size: 24px;
    position: relative;
    width: 100%;
}

#full-question {
    z-index: 1000;
}

#full-question-content {
    position: absolute;
    font-size: 22px;
    color: #35FF86;
    width: 87%;
    height: 70%;
    overflow: auto;
    word-wrap: break-word; /* Older property name, supported in IE */
    overflow-wrap: break-word; /* Standard property name */
    white-space: normal;
    z-index: 999;
}
#ducrut-text {
    width: 60vw;
}
dt {
    font-weight: normal!important;
}
.table-container {
    margin: 15px 0;
    width: 100%; /* Chiếm đầy đủ chiều rộng của .table-container */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các border của cell */
    table-layout: fixed; /* Giúp các cột có chiều rộng đồng đều */
}

.table-container th, .table-container td {
    border: 1px solid #FF5ED3; /* Đặt màu cho border */
    text-align: left; /* Căn chỉnh văn bản */
    padding: 8px; /* Thêm padding cho cell */
    color: #35FF86; /* Màu chữ cho thead */
}

.table-container thead {
    color: #35FF86; /* Màu chữ cho thead */
    font-weight: bold;
}

.between {
    margin: 10px 0;
}

.table-answer {
    width: 100%; /* Chiếm đầy đủ chiều rộng của .table-container */
    border-collapse: collapse; /* Loại bỏ khoảng cách giữa các border của cell */
    table-layout: fixed; /* Giúp các cột có chiều rộng đồng đều */
}
.two-table {
    top: 1.5vh
}

.two-long {
    top: 2vh;
    font-size: 16px;
    text-align: left;
    left: 2%;
    width: 95%;
}
.two-table-long {
    top: 2vh;
    font-size: 16px;
    text-align: left;
    width: 95%;
}


@media only screen and (max-height: 479px) and (orientation: landscape) {
    .title {font-size: 11px;}
    .answer {
        width: 26vw;
    }
    .question-content {font-size: 12px;left: 17vw;width: 37vw;}
    .answer-content {font-size: 11px;}
    .button-track > .button-track-label {font-size: 13px;}
    .centered-text {font-size: 12px;}
    .two-table-long {
        font-size: 11px;
    }
    .two-long{
        font-size: 8px;
        top: 1.5vh;
    }
    #full-question-content {
        font-size: 12px;
    }
    .modal-game-text {
        font-size: 9px;
        top: 18vh;
        height: 17vh;
    }
    .next {width: 50vw;height: 8vh;top: 86vh;left: 27%;}
    .background-full-question > .centered-text {
        font-size: 11px;
    }
    #ducrut-content .modal-game-text {
        top: 13vh;
    }
    #hint-text .modal-game-text {
        font-size: 9px;
        top: 18vh;
        height: 17vh;
    }
}

@media only screen and (min-height: 480px) and (max-height: 767px) and (orientation: landscape) {
    .title {

    }
    .answer {
        width: 26vw;
    }
    .question-content {

    }
    .answer-content {

    }
    .next {

    }
    .background-full-question > .centered-text {

    }
    .modal-game-text {

    }
}

@media only screen and (min-height: 768px) and (max-height: 1023px) and (orientation: landscape) {
    .title {

    }
    .answer {
        width: 26vw;
    }
    .question-content {

    }
    .answer-content {

    }
    .next {

    }
    .background-full-question > .centered-text {

    }
    .modal-game-text {

    }
}

@media only screen and (min-width: 1024px) and (max-width: 1439px) {
    .title {left: 48vw;font-size: 22px;top: 12vh;}
    .answer {
        width: 26vw;
    }
    .question-content {font-size: 18px;}
    .answer-content {top: 2vh;font-size: 18px;}
    .button-track > .button-track-label {font-size: 20px;}
    .centered-text {font-size: 27px;}
    .two-table-long {
        font-size: 13px;
    }
    .two-long{
        font-size: 12px;
        top: 1.5vh;
    }
    #full-question-content {
        font-size: 16px;
        height: 60%;
    }
    .modal-game-text {
        font-size: 14px;
        top: 10vh;
        height: 11vh;
    }
    .next {width: 50vw;height: 8vh;top: 86vh;left: 27%;}
    .background-full-question > .centered-text {
        font-size: 19px;
    }
    #ducrut-content .modal-game-text {
        top: 8vh;
    }
    #hint-text .modal-game-text {
        font-size: 9px;
        top: 18vh;
        height: 17vh;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .title {

    }
    .answer {
        width: 26vw;
    }
    .question-content {

    }
    .answer-content {

    }
    .next {

    }
    .background-full-question > .centered-text {

    }
    .modal-game-text {

    }
}

@media only screen and (min-width: 1920px) {
    .title {

    }
    .answer {
        width: 26vw;
    }
    #answer1 {
        left: 22vw;
        top: 58vh;
    }
    #answer2 {
        left: 56vw;
        top: 58vh;
    }
    #answer3 {
        left: 22vw;
        top: 71vh;
    }
    #answer4 {
        left: 56vw;
        top: 71vh;
    }
    .question-content {

    }
    .answer-content {

    }
}
