body {
    overflow: hidden;
}
.body-question {
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.body-question::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* Black background with 50% opacity */
    /*z-index: 1; !* Ensures the content is above the background *!*/
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}
.header .left-content {
    display: flex;
    align-items: center;
}
.header .right-content {
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.header img {
    margin-left: 20px; /* Spacing between images */
    cursor: pointer; /* Change the cursor on hover over the image */
}
.right-content .replay {
    width: 3vw;
}
.right-content .score {
    width: 8vw;
}
.background-image-div {
    position: relative; /* Establishes a positioning context for inner elements */
    width: 6vw;
    height: 5vh;
    background-image: url('../../../img/main/score.png');
    background-size: 100% 100%;
    background-position: center;
}

.centered-text {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    color: #F565AF;
    font-size: 22px; /* Adjust font size as needed */
    text-align: center;
    /*font-weight: bold;*/
}
.right-content .support {
    width: 3vw;
    z-index: 10;
}
.header {
    height: 10vh;
    margin-left: 6vw;
    margin-top: 20px;
    margin-right: 20px;
}
.main-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.button-track {
    position: relative; /* Establishes a positioning context for inner elements */
    width: 13vw;
    height: 8vh;
}
.button-track > .button-track-label {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    color: #6BD7FF;
    font-size: 22px; /* Adjust font size as needed */
    text-align: center;
    z-index: 2;
    width: 10vw;
    font-weight: bold;
}

.question, .answer, .next {
    position: absolute;
    z-index: 20;
}
.answer, .next {
    cursor: pointer;
}

.next {
    width: 45vw;
    height: 6vh;
    top: 88vh;
    left: 29%;
}

#question {
    width: 70vw;
    height: 55vh;
    top: 5vh;
    left: 17vw;
}

#kickoff-button-frame {
    width: 16vw; /* Use viewport width for scalability */
    /*min-width: 300px; !* Ensure it doesn't get too small *!*/
    height: 8vh; /* Use viewport height for scalability */
    bottom: 26vh;
    left: 60vw;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer {
    width: 26vw;
}
#answer1 {
    left: 22vw;
    top: 58vh;
}
#answer2 {
    left: 56vw;
    top: 58vh;
}
#answer3 {
    left: 22vw;
    top: 71vh;
}
#answer4 {
    left: 56vw;
    top: 71vh;
}
.title {
    position: absolute;
    top: 11vh;
    font-size: 2rem;
    color: #FF5ED3;
    z-index: 2;
    left: 49vw;
}
.question-content {
    position: absolute;
    font-size: 20px;
    color: #35FF86;
    width: 42vw;
    max-height: 100vh;
    top: 12vh;
    left: 14vw;
}
.answer-content {
    position: relative;
    font-size: 20px;
    color: #35FF86;
    width: 80%;
}
#answer1 > .answer-content {
    top:  7vh;
    left: 5%;
}
#answer2 > .answer-content {
    top: 7vh;
    left: 5%;
}
#answer3 > .answer-content {
    top: 7vh;
    left: 5%;
}
#answer4 > .answer-content {
    top: 7vh;
    left: 5%;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* Modal Content */
.modal-game-content {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%); /* Adjust position to truly center */
    margin: auto; /* Not strictly necessary with flexbox, but kept for fallback */
    padding: 20px;
    width: 80vw;
    /* Remove absolute positioning and use flexbox for centering */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* Optional: Adds a shadow for better aesthetics */
}

.modal-game-text {
    position: absolute;
    top: 14vh;
    left: 17vw;
    font-size: 22px;
    color: #35FF86;
    width: 46vw;
    height: 14vh;
    overflow: auto;
    word-wrap: break-word; /* Older property name, supported in IE */
    overflow-wrap: break-word; /* Standard property name */
    white-space: normal;
}

#ducrut-content > .modal-game-text {
    top: 11vh;
    left: 10vw;
}
