@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}


.character-info > .background {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.character-info > .background > .lottie {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.character-info > .background > .frame-container {
    position: absolute;
    width: 20vw;
    height: 65vh;
    top: 14vh;
    left: 17%;
}

.character-info > .background > .frame-container > img {
    cursor: pointer;
}
.character-info > .background > .frame-container > .character-info-image {
    position: relative;
    z-index: 2;
    animation: moveUpDown 2s infinite ease-in-out;
}

.character-info > .background > .frame-container > .character-info-image {
    width: 15vw; /* Set the width of the character image */
    height: 40vh;
    top: 6vh;
    left: 2vw;
}
.character-info > .background > .frame-container > .lottie-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.character-info > .background > .frame-container > .character-info-label {
    position: absolute;
    color: #19FF7A;
    font-size: 25px;
    z-index: 2;
    bottom: 10.5vh;
    width: 10vw;
    text-align: center;
}
.character-info > .background > .frame-container > .character-info-label {
    left: 4.5vw;
}
.character-info > .background > .frame-container > .character-info-title {
    position: absolute;
    color: #F565AF;
    font-size: 25px;
    left: 46vw;
    top: 9vh;
    font-weight: bold;
    width: 16vw;
}
.character-info > .background > .frame-container > .character-info-des {
    position: absolute;
    color: #19FF7A;
    font-size: 20px;
    left: 28.5vw;
    width: 36vw;
    max-height: 40vh;
    top: 20vh;
    overflow: auto;
}
.character-info > .background > .frame-container > .select-character {
    position: absolute;
    width: 8vw;
    height: 4vh;
    bottom: 4vh;
    z-index: 2;
    cursor: pointer;
    left: 7.5vw;
}
.character-info > .background > .frame-container > .left-character {
    position: absolute;
    width: 4vw;
    height: 4vh;
    bottom: 11vh;
    z-index: 2;
    cursor: pointer;
    left: 1.5vw;
}
.character-info > .background > .frame-container > .right-character {
    position: absolute;
    width: 3vw;
    height: 4vh;
    bottom: 11vh;
    z-index: 2;
    cursor: pointer;
    left: 15.5vw;
}
.character-info > .background > .frame-container > #button-frame-back,
.character-info > .background > .frame-container > #button-frame-next
{
    position: absolute;
    z-index: 20;
}
.character-info > .background > .frame-container > #button-frame-back {
    width: 14vw;
    height: 7vh;
    top: 64vh;
    left: 47vw;
    cursor: pointer;
}
.character-info > .background > .frame-container > #button-frame-next {
    width: 14vw;
    height: 7vh;
    top: 64vh;
    left: 65vw;
    cursor: pointer;
}


@media only screen and (max-width: 479px) and (orientation: landscape) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 11px;
        bottom: 10.5vh;
        width: 13vw;
        left: 17%;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 90%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 11px;
        top: 20vh;
        left: 28vw;
        width: 37vw;
    }
    .character-info > .background > .frame-container:nth-child(1) > .character-info-image {
        width: 14vw; /* Set the width of the character image */
        height: 37vh;
        top: 7vh;
        left: 3vw;
    }
    .character-info > .background > .frame-container:nth-child(1) {
        left: 17vw;
        /* position: relative; */
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 41vw;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 59vw;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) and (orientation: landscape) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 13px;
        top: 78%;
        width: 15vw;
        left: 12%;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 11px;
    }
    .character-info > .background > .frame-container:nth-child(1) > .character-info-image {
        width: 15vw; /* Set the width of the character image */
        height: 40vh;
        top: 6vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container:nth-child(1) {
        left: 10vw;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 45vw;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 62vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 14px;
        top: 76%;
        width: 65%;
        left: 20%;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 13px;
        width: 32vw;
        max-height: 35vh;
    }
    .character-info > .background > .frame-container > .character-info-image {
        width: 15vw; /* Set the width of the character image */
        height: 40vh;
        top: 6vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container {
        left: 18%;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 39vw;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 53vw;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 18px;
        bottom: 12.5vh;
        width: 14vw;
        left: 16%;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 18px;
        top: 24vh;
        left: 32vw;
        width: 39vw;
    }
    .character-info > .background > .frame-container > .character-info-image {
        width: 16vw; /* Set the width of the character image */
        height: 30vh;
        top: 15vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container {
        left: 13vw;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 47vw;
        top: 55vh;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 65vw;
        top: 55vh;
    }
}

@media only screen and (min-width: 1181px) and (max-width: 1439px) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 18px;
        bottom: 12.5vh;
        width: 10vw;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 20px;
        top: 25vh;
        left: 32vw;
        width: 39vw;
    }
    .character-info > .background > .frame-container > .character-info-image {
        width: 16vw; /* Set the width of the character image */
        height: 30vh;
        top: 15vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container {
        left: 13vw;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 47vw;
        top: 55vh;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 65vw;
        top: 55vh;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 25px;
        bottom: 10.5vh;
        text-align: center;
        width: 18vw;
        left: 1vw;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 20px;
        width: 36vw;
    }
    .character-info > .background > .frame-container > .character-info-image {
        width: 15vw; /* Set the width of the character image */
        height: 40vh;
        top: 6vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container {
        left: 17vw;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 40vw;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 57vw;
    }
}

@media only screen and (min-width: 1920px) {
    .character-info > .background > .frame-container > .character-info-label {
        font-size: 25px;
        bottom: 10.5vh;
        width: 10vw;
    }
    .character-info > .lottie {
        top: 50%;
        left: 50%;
        width: 100%;
    }
    .character-info > .background > .frame-container > .character-info-des {
        font-size: 20px;
    }
    .character-info > .background > .frame-container > .character-info-image {
        width: 15vw; /* Set the width of the character image */
        height: 40vh;
        top: 6vh;
        left: 2vw;
    }
    .character-info > .background > .frame-container > #button-frame-back {
        left: 43vw;
    }
    .character-info > .background > .frame-container > #button-frame-next {
        left: 60vw;
    }
}
