body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.video-background {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
.lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Set to the width of your lottie animation */
    height: auto; /* Set to the height of your lottie animation */
    z-index: 0;
}
.form-container {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.lottie-input {
    position: absolute;
    width: 22vw; /* Adjust width based on your design */
}
.lottie-input {
    /*max-width: 600px; !* Adjust max width based on your design *!*/
    /*margin: 15vh 0; !* Spacing between lottie animations *!*/
}
.lottie-input:nth-child(1) { top: 18%; }
.lottie-input:nth-child(2) { top: 32%; }
.lottie-input:nth-child(3) { top: 46%; }
.lottie-input:nth-child(4) { bottom: 30%; }
.lottie-input:nth-child(5) { bottom: 16%; }
.lottie-button {
    position: absolute;
    bottom: 15%;
    left: 81%;
    transform: translateX(-50%);
    width: 15vw;
    z-index: 2;
    cursor: pointer;
}

.lottie-text {
    position: absolute;
    top: 46%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    font-size: 22px; /* Or any other size */
    z-index: 2; /* Above the Lottie animation */
    color: #19FFE1;
    text-transform: uppercase;
}
