body {
    background-image: url('../../img/home/background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*aspect-ratio: 16 / 9;*/
}

.page-home > .lottie {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Set to the width of your lottie animation */
    height: auto; /* Set to the height of your lottie animation */
    z-index: 0;
}
.page-home > .form-container {
    position: relative;
    height: 100vh;
}
.page-home > .form-container > .lottie-input {
    position: fixed;
    width: 20vw; /* Adjust width based on your design */
    left: 40%;
}

.page-home > .form-container > .lottie-input:nth-child(1) { top: 19%; }
.page-home > .form-container > .lottie-input:nth-child(2) { top: 33%; }
.page-home > .form-container > .lottie-input:nth-child(3) { top: 47%; }
.page-home > .form-container > .lottie-input:nth-child(4) { bottom: 29%; }
.page-home > .form-container > .lottie-input:nth-child(5) { bottom: 15%; }
.page-home > .form-container > .lottie-button {
    position: fixed;
    bottom: 15%;
    right: 11%;
    width: 14vw;
    z-index: 2;
    cursor: pointer;
}

.page-home > .form-container > .lottie-input > .lottie-text {
    position: absolute;
    top: 46%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-46%, -50%);
    font-size: 18px; /* Or any other size */
    z-index: 2; /* Above the Lottie animation */
    color: #19FFE1;
    width: 15vw;
    text-align: center;
    overflow: auto;
}

/* Larger tablets and desktops */
/*@media only screen and (min-width: 768px) {*/
/*    .page-home > .form-container {*/
/*        position: relative;*/
/*        height: 100vh;*/
/*    }*/
/*    .page-home > .form-container > .lottie-input {*/
/*        position: fixed;*/
/*        width: 24vw; !* Adjust width based on your design *!*/
/*        left: 38%;*/
/*    }*/

/*    .page-home > .form-container > .lottie-input:nth-child(1) { top: 16%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(2) { top: 30%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(3) { top: 44%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(4) { bottom: 30%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(5) { bottom: 16%; }*/
/*    .page-home > .form-container > .lottie-button {*/
/*        position: fixed;*/
/*        bottom: 15%;*/
/*        right: 13%;*/
/*        width: 14vw;*/
/*        z-index: 2;*/
/*        cursor: pointer;*/
/*    }*/
/*}*/

/*!* Desktops and larger devices *!*/
/*@media only screen and (min-width: 992px) {*/
/*    .page-home > .form-container {*/
/*        position: relative;*/
/*        height: 100vh;*/
/*    }*/
/*    .page-home > .form-container > .lottie-input {*/
/*        position: fixed;*/
/*        width: 22vw; !* Adjust width based on your design *!*/
/*        left: 39vw;*/
/*    }*/

/*    .page-home > .form-container > .lottie-input:nth-child(1) { top: 19%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(2) { top: 32%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(3) { top: 45%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(4) { bottom: 33%; }*/
/*    .page-home > .form-container > .lottie-input:nth-child(5) { bottom: 19%; }*/
/*    .page-home > .form-container > .lottie-button {*/
/*        position: fixed;*/
/*        bottom: 15%;*/
/*        right: 13%;*/
/*        width: 14vw;*/
/*        z-index: 2;*/
/*        cursor: pointer;*/
/*    }*/
/*}*/
