.kickoff .video-bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.kickoff .video-bg > video {
    width: 100%;
    height: 100%;
}

.kickoff .frame-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.kickoff #border-frame, .kickoff #button-frame {
    position: absolute;
    z-index: 20;
}

.kickoff #border-frame {
     width: 57vw;
    height: 57vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.kickoff #button-frame {
    width: 40vw; /* Use viewport width for scalability */
    /*min-width: 300px; !* Ensure it doesn't get too small *!*/
    height: 8vh; /* Use viewport height for scalability */
    bottom: 26vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.kickoff #button-frame svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    #border-frame, #button-frame {
        width: 80vw; /* Increase width in landscape */
    }

    #button-frame {
        bottom: 5%; /* Adjust position for better visibility */
        height: 12vh; /* Adjust height in landscape */
    }

    #button-text {
        /*font-size: 4vw; !* Increase font size in landscape *!*/
    }
}
