.mission > .lottie > .lottie-text {
    position: fixed;
    top: 14%;
    left: 47%;
    transform: translate(-10%, -50%);
    font-size: 29px;
    font-weight: bold;
    color: #F565AF;
}

.mission > .frame-container > #border-frame-mission,
.mission > .frame-container > #button-frame-mission {
    position: absolute;
    z-index: 20;
}

.mission > .frame-container > #border-frame-mission {
    width: 100%; /* Use viewport width for scalability */
    height: 100%; /* Use viewport height for scalability */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mission > .frame-container > #button-frame-mission {
    width: 40vw; /* Use viewport width for scalability */
    /*min-width: 300px; !* Ensure it doesn't get too small *!*/
    height: 11vh; /* Use viewport height for scalability */
    bottom: 30vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mission > .frame-container > #border-frame-mission svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#border-frame-mission > .typewriter {
    position: fixed;
    z-index: 2;
    font-size: 20px; /* Ensures font size doesn't get too small */
    top: 29%;
    left: 28%;
    text-align: justify;
    text-transform: uppercase;
}

.typewriter > div > p {
    margin-bottom: 0;
}

#mission-content > p:nth-child(1) { margin-left: 9vw;; }
#mission-content > p:nth-child(2)  { margin-left: 4vw; }
#mission-content > p:nth-child(3)  { margin-left: 7vw; }

.green {
    color: #56FF9E;
}

.pink {
    color: #F565AF;
}

#mission-content {
    width: 55vw;
    max-height: 27vh;
    overflow: auto;
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
}

@media (max-width: 768px) {
    /* Responsive adjustments for mobile */
    .border-frame {
        height: 90%;
        margin-top: 2%;
    }
}
