.story > .lottie-text {
    position: absolute;
    top: 14%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 29px;
    font-weight: bold;
    color: #F565AF;
    font-family: 'SVN-Zelda';
}

.story > .frame-container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.story > .frame-container  > #border-frame-story,
.story > .frame-container > #button-frame-story {
    position: absolute;
    z-index: 20;
}

.story > .frame-container > #border-frame-story {
    width: 100%; /* Use viewport width for scalability */
    height: 100%; /* Use viewport height for scalability */
    top: 0;
    left: 0;
}

.story > .frame-container > #button-frame-story {
    width: 40vw;
    height: 8vh;
    bottom: 15vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.story > .frame-container > #border-frame-story svg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

#border-frame-story > .typewriter {
    position: absolute;
    z-index: 2;
    font-size: 24px; /* Ensures font size doesn't get too small */
    top: 50%;
    left: 50%;
    width: 61vw;
    text-align: left;
    max-height: 50vh;
    overflow: auto;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 50%;ư:
    nowrap;
}

.typewriter > div > p {
    margin-bottom: 0;
}

.green {
    color: #56FF9E;
}

.pink {
    color: #F565AF;
}

#mission-content {
    width: 55vw;
}

/* Typewriter effect for the text */
.typewriter h1 {
    overflow: hidden;
    border-right: .15em solid orange;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .15em;
    animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
}
@media only screen and (min-height: 480px) and (max-height: 767px) and (orientation: landscape) {
    .story > .lottie-text {
    }

    #border-frame-story > .typewriter {
        font-size: 22px;
        top: 29%;
    }

    .story > .frame-container > #button-frame-story {
        top: 70%;
        left: 50%;
    }
}
@media only screen and (max-height: 479px) and (orientation: landscape) {
    .story > .lottie-text {
        top: 14%;
        font-size: 16px;
    }

    #border-frame-story > .typewriter {
        font-size: 12px;
        top: 46%;
        width: 62vw;
    }

    .story > .frame-container > #button-frame-story {
        top: 78%;
        left: 50%;
    }
}
@media only screen and (min-height: 768px) and (max-height: 1023px) and (orientation: landscape) {
    .story > .lottie-text {
        top: 23%;
    }

    #border-frame-story > .typewriter {
        font-size: 22px;
        top: 39%;
    }

    .story > .frame-container > #button-frame-story {
        top: 70%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1180px) {
    .story > .lottie-text {
        font-size: 25px;
        top: 21%;
    }
    #border-frame-story > .typewriter {
        font-size: 15px;
        top: 44%;
    }

    .story > .frame-container > #button-frame-story {
        top: 77%;
        left: 50%;
    }
}

@media only screen and (min-width: 1181px) and (max-width: 1439px) {
    .story > .lottie-text {
    font-size: 27px;
    top: 23%;
    }

    #border-frame-story > .typewriter {
        font-size: 17px;
        top: 44%;
        width: 60vw;
    }

    .story > .frame-container > #button-frame-story {
        top: 73%;
        left: 50%;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 1919px) {
    .story > .lottie-text {
        top: 14%;
        font-size: 29px;
    }

    .story > .frame-container > #button-frame-story {
        top: 78%;
    }
}

@media only screen and (min-width: 1920px) {
    .story > .lottie-text {
    }

    #border-frame-story > .typewriter {
        top: 38%;
    }

    .story > .frame-container > #button-frame-story {
    top: 78%;
    }
}
